<form action="/random/results">
  <label for="random_min"> Minimum </label>
  <input id="random_min" type="text" placeholder="E.g 1.5" name="user_min"  >

  <label for="random_max"> Maximum </label>
  <input id="random_max" type="text" placeholder="E.g 4.5" name="user_max"  >

  <button>Pick random number</button>

</form>
