<h1>Square Roots</h1>

<form action="/square_root/results">
  <label for="square_root_form"> Enter a number </label>
  <input id="square_root_form" type="text" placeholder="Type here" name="results_square_root"  >

  <button>Calculate Square Root</button>

</form>
