<h1>Square</h1>

<form action="/square/results">
  <label for="giraffe"> Enter a number </label>
  <input id="giraffe" type="text" placeholder="Type here" name="results_square"  >

  <button>Calculate Square</button>

</form>
